In [1]:
import numpy as np
import pandas as pd

In [5]:
data=pd.read_csv('adult.csv', low_memory=False)

In [6]:
data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [7]:
data.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K

In [8]:
data.tail(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
48832,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
48833,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
48834,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
48835,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
48836,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [9]:
data.shape

(48842, 15)

In [10]:
data.info

<bound method DataFrame.info of        age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]>

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [12]:
data.sample(frac=0.5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
30490,62,Private,244933,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,45,United-States,<=50K
14847,26,Private,414916,HS-grad,9,Never-married,Tech-support,Other-relative,White,Male,0,0,40,United-States,<=50K
30414,32,Private,107793,HS-grad,9,Divorced,Other-service,Own-child,White,Male,2174,0,40,United-States,<=50K
16959,31,Private,125457,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,45,United-States,<=50K
44614,61,Private,29059,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,2754,25,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16964,23,Local-gov,430828,Some-college,10,Separated,Exec-managerial,Unmarried,Black,Male,0,0,40,United-States,<=50K
9936,18,Private,187790,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
40154,40,Private,130760,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,<=50K
23488,45,Self-emp-inc,34091,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,38,United-States,>50K
41964,27,Private,106039,Bachelors,13,Divorced,Prof-specialty,Own-child,White,Female,0,0,50,United-States,<=50K

In [14]:
data.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [15]:
data.isna().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [21]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [25]:
data.isin(['?']).sum(axis=0)

age                   0
workclass          2799
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [34]:
data['workclass'].replace(to_replace='?',value=np.nan,inplace=True)

In [33]:
#before inplace=True
data['workclass'].isin(['?']).sum()

np.int64(2799)

In [35]:
#after inplace true
data['workclass'].isin(['?']).sum()

np.int64(0)

In [26]:
data.isin(['?']).sum(axis=1)

#axis=1 is aas per rows
#axis=0 is as per columns

0        0
1        0
2        0
3        0
4        2
        ..
48837    0
48838    0
48839    0
48840    0
48841    0
Length: 48842, dtype: int64

In [37]:
data.isin(['?']).sum()

age                   0
workclass             0
fnlwgt                0
education             0
educational-num       0
marital-status        0
occupation         2809
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      857
income                0
dtype: int64

In [38]:
data['occupation'].replace(to_replace='?',value=np.nan,inplace=True)

C:\Users\ak97r\AppData\Local\Temp\ipykernel_15540\2117722724.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['occupation'].replace(to_replace='?',value=np.nan,inplace=True)

In [39]:
data['native-country'].replace(to_replace='?',value=np.nan,inplace=True)

C:\Users\ak97r\AppData\Local\Temp\ipykernel_15540\3313749066.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['native-country'].replace(to_replace='?',value=np.nan,inplace=True)

In [40]:
data['workclass']=data['workclass'].replace(to_replace='?',value=np.nan)

In [42]:
data['workclass'].isin(['?']).sum()

np.int64(0)

In [44]:
data['native-country']=data['native-country'].replace(to_replace='?',value=np.nan)

In [48]:
data['native-country'].isin(['?']).sum()

np.int64(0)

In [53]:
data.isna().sum(axis=0)

age                    0
workclass           2799
fnlwgt                 0
education              0
educational-num        0
marital-status         0
occupation          2809
relationship           0
race                   0
gender                 0
capital-gain           0
capital-loss           0
hours-per-week         0
native-country     48842
income                 0
dtype: int64

In [57]:
data.dropna(axis=1,inplace=True)

In [58]:
data

,age,fnlwgt,education,educational-num,marital-status,relationship,race,gender,capital-gain,capital-loss,hours-per-week,income
0,25,226802,11th,7,Never-married,Own-child,Black,Male,0,0,40,<=50K
1,38,89814,HS-grad,9,Married-civ-spouse,Husband,White,Male,0,0,50,<=50K
2,28,336951,Assoc-acdm,12,Married-civ-spouse,Husband,White,Male,0,0,40,>50K
3,44,160323,Some-college,10,Married-civ-spouse,Husband,Black,Male,7688,0,40,>50K
4,18,103497,Some-college,10,Never-married,Own-child,White,Female,0,0,30,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,257302,Assoc-acdm,12,Married-civ-spouse,Wife,White,Female,0,0,38,<=50K
48838,40,154374,HS-grad,9,Married-civ-spouse,Husband,White,Male,0,0,40,>50K
48839,58,151910,HS-grad,9,Widowed,Unmarried,White,Female,0,0,40,<=50K
48840,22,201490,HS-grad,9,Never-married,Own-child,White,Male,0,0,20,<=50K
48841,52,287927,HS-grad,9,Married-civ-spouse,Wife,White,Female,15024,0,40,>50K

In [59]:
data.isna().sum()

age                0
fnlwgt             0
education          0
educational-num    0
marital-status     0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
income             0
dtype: int64

In [64]:
data.duplicated().sum()

np.int64(202)

In [66]:
data.drop_duplicates(inplace=True)

In [68]:
data.shape

(48640, 12)

In [70]:
data.duplicated().sum()

np.int64(0)

In [72]:
48842-48640 #before and after removing duplicates

202

In [76]:
data.describe(include='all')

,age,fnlwgt,education,educational-num,marital-status,relationship,race,gender,capital-gain,capital-loss,hours-per-week,income
count,48640.000000,4.864000e+04,48640,48640.000000,48640,48640,48640,48640,48640.000000,48640.000000,48640.000000,48640
unique,NaN,NaN,16,NaN,7,6,5,2,NaN,NaN,NaN,2
top,NaN,NaN,HS-grad,NaN,Married-civ-spouse,Husband,White,Male,NaN,NaN,NaN,<=50K
freq,NaN,NaN,15704,NaN,22289,19628,41570,32500,NaN,NaN,NaN,36985
mean,38.669346,1.896730e+05,NaN,10.078845,NaN,NaN,NaN,NaN,1083.240070,87.865707,40.431373,NaN
std,13.710649,1.056723e+05,NaN,2.571267,NaN,NaN,NaN,NaN,7466.886242,403.800998,12.405278,NaN
min,17.000000,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN
25%,28.000000,1.175280e+05,NaN,9.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN
50%,37.000000,1.781090e+05,NaN,10.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN
75%,48.000000,2.376255e+05,NaN,12.000000,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN
max,90.000000,1.490400e+06,NaN,16.000000,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN

In [78]:
data.columns

Index(['age', 'fnlwgt', 'education', 'educational-num', 'marital-status',
       'relationship', 'race', 'gender', 'capital-gain', 'capital-loss',
       'hours-per-week', 'income'],
      dtype='object')

In [80]:
data.drop(columns=['educational-num','capital-gain','capital-loss'], inplace=True)

In [81]:
data.columns

Index(['age', 'fnlwgt', 'education', 'marital-status', 'relationship', 'race',
       'gender', 'hours-per-week', 'income'],
      dtype='object')

In [82]:
data['age']

0        25
1        38
2        28
3        44
4        18
         ..
48837    27
48838    40
48839    58
48840    22
48841    52
Name: age, Length: 48640, dtype: int64

In [83]:
#data distribution for workclass column

In [132]:

#total number of people between 17 to 48 inclusive


len(data[data['age'].between(17,48)])

37145

In [133]:
data['age'].between(17,48)

0         True
1         True
2         True
3         True
4         True
         ...
48837     True
48838     True
48839    False
48840     True
48841    False
Name: age, Length: 48640, dtype: bool

In [130]:
len(data[data['age'].between(17,48)])

37145

In [88]:
#distribution of workclass column

In [89]:
data.columns

Index(['age', 'fnlwgt', 'education', 'marital-status', 'relationship', 'race',
       'gender', 'hours-per-week', 'income'],
      dtype='object')

In [92]:
data['education'].value_counts()

education
HS-grad         15704
Some-college    10827
Bachelors        7979
Masters          2652
Assoc-voc        2059
11th             1810
Assoc-acdm       1601
10th             1386
7th-8th           954
Prof-school       834
9th               756
12th              654
Doctorate         594
5th-6th           505
1st-4th           245
Preschool          80
Name: count, dtype: int64

In [135]:
filt1=(data['education']=='Masters') | (data['education']=='Bachelors')

data[filt1]['education'].value_counts()

education
Bachelors    7979
Masters      2652
Name: count, dtype: int64

In [136]:
data[filt1]

,age,fnlwgt,education,marital-status,relationship,race,gender,hours-per-week,income
11,36,212465,Bachelors,Married-civ-spouse,Husband,White,Male,40,0
15,43,346189,Masters,Married-civ-spouse,Husband,White,Male,50,1
20,34,107914,Bachelors,Married-civ-spouse,Husband,White,Male,47,1
23,25,220931,Bachelors,Never-married,Not-in-family,White,Male,43,0
24,25,205947,Bachelors,Married-civ-spouse,Husband,White,Male,40,0
...,...,...,...,...,...,...,...,...,...
48814,54,337992,Bachelors,Married-civ-spouse,Husband,Asian-Pac-Islander,Male,50,1
48817,34,160216,Bachelors,Never-married,Not-in-family,White,Female,55,1
48819,38,139180,Bachelors,Divorced,Unmarried,Black,Female,45,1
48825,31,199655,Masters,Divorced,Not-in-family,Other,Female,30,0
48834,32,116138,Masters,Never-married,Not-in-family,Asian-Pac-Islander,Male,11,0

In [138]:
sum(data['education'].isin(['Bachelors','Masters']))

10631

In [100]:
#replace salary value with 0 and 1

data.columns

Index(['age', 'fnlwgt', 'education', 'marital-status', 'relationship', 'race',
       'gender', 'hours-per-week', 'income'],
      dtype='object')

In [101]:
data['income']

0        <=50K
1        <=50K
2         >50K
3         >50K
4        <=50K
         ...
48837    <=50K
48838     >50K
48839    <=50K
48840    <=50K
48841     >50K
Name: income, Length: 48640, dtype: object

In [104]:
data['income'].replace('<=50K',0, inplace=True)

In [111]:
data['income'].replace('>50K',1,inplace=True)

C:\Users\ak97r\AppData\Local\Temp\ipykernel_15540\2274408892.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['income'].replace('>50K',1,inplace=True)

In [112]:
data['income']

0        0
1        0
2        1
3        1
4        0
        ..
48837    0
48838    1
48839    0
48840    0
48841    1
Name: income, Length: 48640, dtype: int64

In [113]:
data.columns

Index(['age', 'fnlwgt', 'education', 'marital-status', 'relationship', 'race',
       'gender', 'hours-per-week', 'income'],
      dtype='object')

In [114]:
data.head()

,age,fnlwgt,education,marital-status,relationship,race,gender,hours-per-week,income
0,25,226802,11th,Never-married,Own-child,Black,Male,40,0
1,38,89814,HS-grad,Married-civ-spouse,Husband,White,Male,50,0
2,28,336951,Assoc-acdm,Married-civ-spouse,Husband,White,Male,40,1
3,44,160323,Some-college,Married-civ-spouse,Husband,Black,Male,40,1
4,18,103497,Some-college,Never-married,Own-child,White,Female,30,0

In [115]:
data['marital-status']

0             Never-married
1        Married-civ-spouse
2        Married-civ-spouse
3        Married-civ-spouse
4             Never-married
                ...
48837    Married-civ-spouse
48838    Married-civ-spouse
48839               Widowed
48840         Never-married
48841    Married-civ-spouse
Name: marital-status, Length: 48640, dtype: object

In [117]:

x=data.groupby(by='marital-status')

In [121]:
x['hours-per-week'].max().nlargest(2)

marital-status
Divorced              99
Married-civ-spouse    99
Name: hours-per-week, dtype: int64

In [139]:
data.columns

Index(['age', 'fnlwgt', 'education', 'marital-status', 'relationship', 'race',
       'gender', 'hours-per-week', 'income'],
      dtype='object')

In [140]:
xx=data.groupby(by='gender')

In [147]:
xx['hours-per-week'].mean().sort_values(ascending=False)

gender
Male      42.429046
Female    36.408798
Name: hours-per-week, dtype: float64

In [148]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48640 entries, 0 to 48841
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48640 non-null  int64
 1   fnlwgt          48640 non-null  int64
 2   education       48640 non-null  object
 3   marital-status  48640 non-null  object
 4   relationship    48640 non-null  object
 5   race            48640 non-null  object
 6   gender          48640 non-null  object
 7   hours-per-week  48640 non-null  int64
 8   income          48640 non-null  int64
dtypes: int64(4), object(5)
memory usage: 3.7+ MB

In [150]:
data['marital-status']=data['marital-status'].astype('category')

In [151]:
data['marital-status']

0             Never-married
1        Married-civ-spouse
2        Married-civ-spouse
3        Married-civ-spouse
4             Never-married
                ...
48837    Married-civ-spouse
48838    Married-civ-spouse
48839               Widowed
48840         Never-married
48841    Married-civ-spouse
Name: marital-status, Length: 48640, dtype: category
Categories (7, object): ['Divorced', 'Married-AF-spouse', 'Married-civ-spouse', 'Married-spouse-absent', 'Never-married', 'Separated', 'Widowed']

In [152]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48640 entries, 0 to 48841
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48640 non-null  int64
 1   fnlwgt          48640 non-null  int64
 2   education       48640 non-null  object
 3   marital-status  48640 non-null  category
 4   relationship    48640 non-null  object
 5   race            48640 non-null  object
 6   gender          48640 non-null  object
 7   hours-per-week  48640 non-null  int64
 8   income          48640 non-null  int64
dtypes: category(1), int64(4), object(4)
memory usage: 3.4+ MB